* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --heading-font: "Sora", sans-serif;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #fffaf5;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.header {
    position: sticky;
    top: -20px;
    padding: 26px 0 6px;
    background-color: #fffaf5;
    z-index: 2;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-img {
    width: 35px;
    height: 37px;
    object-fit: cover;
}

.logo-text {
    font-size: 2.9rem;
    font-weight: 700;
    color: #000958;
    margin: 0 0 6px 10px;
}

.navbar-list {
    display: flex;
    align-items: center;
}

.navbar-link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    padding: 4px 18px;
}

.navbar-link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #000958;
}

.header__cta {
    padding: 18px 32px;
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    border-radius: 25px;
    border: 1px solid rgba(0, 9, 88, 0.7);
}

.header__cta:hover {
    opacity: 0.9;
}

.hero {
    padding-top: 94px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__media {
    display: flex;
    width: 51%;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -40px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    margin-bottom: -54px;
    height: 244px;
    margin-left: -23px;
    background: #faa7ad;
    border: 2px solid #fcdddf;
}

.hero__list {
    padding: 18px 14px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    position: absolute;
    left: 129px;
    bottom: 0;
}

.hero__list-item {
    display: flex;
    align-items: center;
}

.hero__list-item-thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background-color: var(--bg-color);
}

.hero__list-item-info {
    margin-left: 10px;
}

.hero__list-item-info__title {
    color: #181e52;
    font-family: var(--heading-font);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__list-item-info__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero__list-separate {
    width: 222px;
    height: 2px;
    background: #f2f2f2;
    margin: 20px 0;
}

.hero__content {
    width: 517px;
}

.hero__heading {
    color: #000958;
    font-family: var(--heading-font);
    font-size: 6.6rem;
    font-weight: 900;
    line-height: 1.15;
}

.hero__desc {
    width: 391px;
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

.hero__row {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-top: 38px;
}

.hero__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    width: 189px;
    height: 60px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    border-radius: 31px;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}

.hero__cta-link {
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}

.about {
    margin-top: 138px;
}

.about-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 146px;
}

.about__label {
    color: #5e6085;
    font-family: var(--heading-font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
    width: 446px;
}

.section-heading {
    color: #000958;
    font-family: var(--heading-font);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.about__desc {
    width: 431px;
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 36px;
    row-gap: 34px;
}

.about__checkitem {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__checkitem::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background-color: #ff5d31;
    border-radius: 6px;
}

.about__checkitem::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 13px;
    height: 7px;
    border: 3px solid #fff2e5;
    border-top: transparent;
    border-right: transparent;
    rotate: -45deg;
    left: 4px;
    top: 4px;
}

.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    width: 136px;
    height: 156px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    left: 0;
    top: 165px;
}

.about__card-title {
    color: #fff;
    font-family: var(--heading-font);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42;
    text-align: center;
}

.about__card-decor {
    position: absolute;
    top: -40px;
    right: -30px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    inset: auto 0 0 0;
    z-index: -1;
    display: inline-block;
    content: "";
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about-img {
    display: block;
    margin: 0 auto;
    width: 450px;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap-bottom {
    position: relative;
    width: 458px;
    height: 500px;
    margin-left: 0;
    border-radius: 18px;
    background: linear-gradient(#c6e2fa, #94c2ea);
    box-shadow: 0px 3px 63px 0px rgba(153, 183, 208, 0.59);
}

.about__img-wrap-bottom::after {
    content: none;
}

.about-img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:first-child {
    top: 12.5px;
    right: 63px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -42px;
}

.about__decor-img:last-child {
    bottom: -54px;
    right: -42px;
}

.about__heading-fix {
    width: 543px;
}

.about__desc-fix {
    width: 511px;
}

.tab {
    margin-top: 52px;
}

.tab__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.tab__list::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #ff5b2e;
    opacity: 0.07;
    left: 0;
    bottom: 0;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__item-active.tab__item::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    border-radius: 1px;
    background-color: #ff5b2e;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.tab__icon {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.tab__title {
    color: #48496a;
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    margin-top: 36px;
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.tab__content-more {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    margin-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.tab__content-more::after {
    display: inline-block;
    content: "";
    height: 1.5px;
    border-radius: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ff5d31;
}

.service {
    margin-top: 185px;
    padding: 68px 0 100px;
    background: #fff6ed;
}

.service__top {
    text-align: center;
}

.service__desc {
    color: #5e6085;
    font-family: var(--heading-font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.service__heading {
    margin-top: 15px;
    color: #000958;
    font-family: var(--heading-font);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.service__body {
    margin-top: 71px;
    display: flex;
    column-gap: 65px;
}

.service__colum {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.service-item {
    width: 100%;
    padding: 30px 22px 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service-item__heading {
    padding-left: 12px;
    position: relative;
    color: #000958;
    font-family: var(--heading-font);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__heading::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
    top: 0;
    left: 0;
}

.service-item__desc {
    margin-top: 18px;
    width: 244px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.service-item__more {
    display: flex;
    margin-top: 24px;
    column-gap: 6px;
    color: #34396a;
    font-family: var(--heading-font);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.service__img {
    position: relative;
    display: block;
    width: 447px;
    height: 621px;
    object-fit: cover;
    z-index: 1;
}

.service__media {
    position: relative;
}

.service__media::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 96%;
    margin: 0 auto;
    height: 350px;
    border-radius: 10px;
    background: #79d5e0;
    left: 0;
    right: 0;
    bottom: 0;
}

.service__more-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
    width: 214px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    cursor: pointer;
}

.service__more-btn {
    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.staff {
    padding: 130px 0;
}

.staff__desc {
    color: #5e6085;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.staff__heading {
    margin-top: 15px;
    text-align: center;
}

.staff__list {
    margin-top: 59px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
}

.staff-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff-item__img-wrap {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 238px;
    height: 286px;
    cursor: pointer;
}

.staff-item__img-wrap::before {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.staff-item:nth-child(1) .staff-item__img-wrap::before {
    content: url(../img/staff-decor-1.svg);
    bottom: 0;
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    content: url(../img/staff-decor-2.svg);
    top: 20px;
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    content: url(../img/staff-decor-3.svg);
    bottom: 0;
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
    content: url(../img/staff-decor-4.svg);
    top: 20px;
}

.staff-item__img-wrap::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 238px;
    height: 266px;
    background: var(--staff-bg-color);
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 130px;
}

.staff-item__img {
    width: 238px;
    height: 282px;
    object-fit: cover;
    border-radius: 118px;
}

.staff-item__title {
    display: inline-block;
    margin-top: 29px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.staff-item__name {
    margin-top: 14px;
    color: #000958;
    font-family: var(--heading-font);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
}

.staff__more-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px auto 0;
    width: 193px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid rgb(255, 91, 46, 0.6);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    cursor: pointer;
}

.staff__more {
    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__heading {
    text-align: center;
}

.pricing__desc {
    margin: 24px auto 0;
    width: 709px;
    color: #656689;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

.pricing__switch-wrap {
    position: relative;
    width: 276px;
    height: 56px;
    margin: 38px auto 0;
}

.pricing__switch-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border-radius: 31px;
    border: 1px solid rgba(255, 91, 46, 0.6);
}

.pricing__switch-value {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% + 2px);
    width: calc(50% + 2px);
    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
    user-select: none;
}

.pricing__switch-value.pricing__switch-active {
    border-radius: 31px;
    background: #ff5b2e;
    color: #fff;
}

.pricing__sale-off {
    display: inline-block;
    position: absolute;
    top: -14px;
    right: -110px;
}

.pricing__list {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 44px;
}

.pricing-item {
    border-radius: 20px;
    background: #fff;
    padding: 30px 28px 43px;
    width: 302px;
}

.pricing-item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing-item:hover .pricing-item__btn {
    color: #fff;
    background: #ff5b2e;
}

.pricing-item__type {
    color: #ff5b2e;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.pricing-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.pricing-item__price {
    display: block;
    margin-top: 24px;
    color: #000958;
    font-family: var(--heading-font);
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1;
}

.pricing-item__btn {
    display: inline-block;
    margin-top: 22px;
    padding: 14px 65px;
    color: #ff5b2e;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    white-space: nowrap;
    transition: ease 0.3s;
}

.pricing-item__list {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    margin-top: 24px;
    padding-left: 26px;
}

.pricing-item__item {
    position: relative;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.pricing-item__item::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 8px;
    height: 4px;
    border: 2px solid #ffbdab;
    border-top: transparent;
    border-right: transparent;
    rotate: -45deg;
    top: 2px;
    left: -22px;
}

.pricing-item__item-active.pricing-item__item::before {
    border-color: #ff5b2e;
}

.review {
    padding: 53px 0 75px;
}

.review__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.review__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background-color: transparent;
    border: 1px solid #ffd1c4;
    border-radius: 50%;
    cursor: pointer;
    color: #ff5b2e;
    flex-shrink: 0;
    transition: ease 0.5s;
}

.review__control:hover {
    color: #fff;
    background: #ff5b2e;
}

.review__content{
    overflow: hidden;
}

.review__list {
    display: flex; 
    align-items: center;
}

.review-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
    width: 100%;
    flex-shrink: 0;
}

.review-item__media {
    position: relative;
    width: 274px;
    height: 427px;
}

.review-item__media::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 274px;
    height: 350px;
    border-radius: 137px;
    background: #ffda54;
    z-index: -1;
    bottom: 0;
    left: 0;
}

.review-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 137px;
}

.review-item__quote {
    margin-top: 24px;
    width: 553px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55;
}

.review-item__author {
    position: relative;
    margin-top: 34px;
    color: #282828;
    padding-left: 28px;
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.review-item__author::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 20px;
    height: 2px;
    background: #000;
    top: 50%;
    left: 0;
    transform: -50%;
}

.review__dots {
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ff5b2e;
    cursor: pointer;
}

.review__dot--active {
    width: 22px;
    height: 8px;
    border-radius: 999px;
    background: #ff5b2e;
    cursor: auto;
}
